%h3 &raquo;SF
%table{:border => 1, :cellspacing => 0}
  %tbody
    - @stations.each do |station|
      - trains = station.trains.select{|train|@destinations.include?(train.destination)}
      %tr
        %th= station.origin
        - trains.sort_by(&:minutes).each do |train|
          %td{:class => "dest_#{train.destination.downcase}"}
            %span.minute= train.minutes
            %br
            %span.destination= train.destination
        - (6 - trains.length).times do
          %td .

- if @is_evening
  %h3 &raquo;Dublin
  %table{:border => 1, :cellspacing => 0}
    %tbody
      - @stations.each do |station|
        - trains = station.trains.select{|train|train.destination == 'DUBL'}
        %tr
          %th= station.origin
          - trains.sort_by(&:minutes).each do |train|
            %td
              %span.minute= train.minutes
          - (6 - trains.length).times do
            %td .

- content_for :page_styles do
  :plain
    th {
      text-align: right;
    }
    td {
      text-align: center;
      width: 32px;
    }
    td .destination {
      font-size: 10px;
    }
    td.dest_mlbr {
      background-color: #aaeeaa;
    }
    td.dest_daly {
      background-color: #aaaaee;
    }
    td.dest_sfia {
      background-color: #eeeeaa;
    }
    td.dest_24th {
      background-color: #eeaaee;
    }
