%h3
  &raquo;SF
  = link_to 'all', '#', :class => 'all'
%table{:border => 1, :cellspacing => 0}
  %tbody
    - @stations.each do |station|
      - trains = station.trains.select{|train|@destinations.include?(train.destination)}
      %tr{ :class => station_class(station) }
        %th= station.origin
        - trains.sort_by(&:minutes).first(6).each do |train|
          %td{:class => train_class(train), 'data-destination' => train.destination.downcase, 'data-minutes' => train.minutes, 'data-length' => train.length}
            %span.minute= train.minutes
            %br
            %span.destination
              = train.destination[0,2]
              = train_length(train)
        - (6 - trains.length).times do
          %td.empty .

- if @is_evening
  %h3
    &raquo;Dublin
  %table{:border => 1, :cellspacing => 0}
    %tbody
      - @stations.each do |station|
        - trains = station.trains.select{|train|train.destination == 'DUBL'}
        %tr{ :class => station_class(station) }
          %th= station.origin
          - trains.sort_by(&:minutes).each do |train|
            %td{:class => opacity_class(train), 'data-destination' => train.destination.downcase, 'data-minutes' => train.minutes, 'data-length' => train.length}
              %span.minute= train.minutes
              %br
              %span.destination
                = train_length(train)
          - (6 - trains.length).times do
            %td.empty .

= link_to 'morning', { :morning => 'true' }
= link_to 'evening', { :evening => 'true' }

- content_for :page_styles do
  :plain
    th {
      text-align: right;
    }
    td {
      text-align: center;
      width: 32px;
    }
    td .destination {
      font-size: 10px;
    }
    td.dest_mlbr {
      background-color: #aaeeaa;
    }
    td.dest_daly {
      background-color: #aaaaee;
    }
    td.dest_sfia {
      background-color: #eeeeaa;
    }
    td.dest_24th {
      background-color: #eeaaee;
    }
    td.future, td.empty {
      opacity: 0.2;
    }
    tr.hidden {
      display: none;
    }

- content_for :page_javascripts do
  :plain
    $(function($){
      $('.all').click(function(){
        $('.hidden').show();
      });
      var trainData = function($$){
        return {
          destination: $$.data('destination'),
          minutes: $$.data('minutes'),
          length: $$.data('length'),
        };
      };
      $('td').not('.empty').click(function(){
        var train = trainData($(this));
        console.log(train);
        var allTrains = $('td[data-destination=' + train.destination + '][data-length=' + train.length + ']');
        $.each(allTrains, function(i, train){
          var tr = trainData($(train));
          console.log([i, tr]);
        });
      });
    });
