<!DOCTYPE html>
<html>
<head>
  <title>Bortapp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <style type='text/css'>
    body {
      font-family: andale mono, courier new, courier;
    }
    <%= yield :page_styles %>
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
